<header>
  <img alt="Logo" class="logo" src="../../../assets/logo.svg">
</header>
<main>
  <div class="flex column">
    <h1>Order in preparation</h1>
      <div *ngFor="let orderReady of ordersReady" class="customer-order">
        <div class="item-list">
          <span>- {{orderReady.name}} => 
          Items:
          <ng-container *ngFor="let menuItem of orderReady.items">
            <p> {{menuItem.shortName}} x{{menuItem.howMany}}</p>
          </ng-container> </span>
        </div>
      </div>

      <br> <br>

    <div class="mat-progress-bar-container">
      <mat-progress-bar mode="determinate" [value]="progressPercentage"></mat-progress-bar>
      <p *ngIf="endTime == '' && status!= 'SERVED_TO_TABLE' ">Should be ready at {{ready}}</p>
      <br>
      <p *ngIf="endTime != ''">end cooking at {{endTime}}</p>
      <p>STATUS : {{status}}</p>

    </div>
  </div>
  <app-game></app-game>

  <button (click)="bill()" color="primary" mat-raised-button>Bill order</button>
</main>
